body{
    margin: 0;

}
.heading{
    text-align: center;
    border: 1px solid;
    background-color: rgb(176, 176, 176);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.main{
    display: flex;
    
 
}
.left{
    margin: 20px;
  
}
.left img{
    width: 300px;
    border-radius: 20px;
}
.right{
border: 1px solid;
border-radius: 20px;
margin: 20px;
padding: 30px;
background-color:rgb(203, 224, 243) ;
}
.paragraph{
    text-align: justify;
    font-size: 16px;
    line-height: 38px;
}
.bio{
text-align: center;}
a{
    border:1px solid;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(139, 179, 214);
    border-radius: 10px;
    transition: .1s;
}
a:hover{
    background-color: azure;
}